html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    color: #333;
    background: #ffffff;
}

#wrapper {
    min-height: 100%;
    position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
}

#header {
    background: #333;
    text-align: center;
    position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
    height: 60px;
    width: 100%;
    padding-top: 8px;
}

#header h1 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #fff;
}

#menu {
    position: absolute;
        top: 60px;
        left: 0px;
    height: 27px;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    background-color: #eee;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    border-bottom: 1px dotted #369;
    color: #000;
}

a:hover, a:active {
    text-decoration: none;
    border-bottom: 1px solid #036;
    color: #000;
}

#container {
    position: absolute;
        top: 87px;
        left: 0px;
    margin: 0 auto 0 auto;
    width: 240px;
    height: 100%;
    background-color: #eee;
}

#main {
    padding-bottom: 27px; /* to prevent overlapping the footer */
    position: relative;
        top: 87px;
        left: 0px;
    margin: 15px 15px 15px 240px;
    padding: 15px 15px 15px 15px;
}

#footer {
    width: 100%;
    height: 27px;
    padding-top: 10px;
    position: fixed; /* fixed or absolute works */
        bottom: 0px;
        left: 0px;
        right: 0px;
    text-align: center;
    background-color: #eee;
}

#bar {
    float: left;
    width: 200px;
    margin-right: 30px;
    z-index: 1;
    padding: 10px;
}

#bar h1 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

img {
    border: 0;
}

table {
    border: thin solid #cccccc;
    background: #ffffff;
}

th {
    letter-spacing: 2.5px;
    background: #eeeeee;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    border-top: thick solid #eeeeee;
    border-bottom: thin solid #cccccc;
}

table {
    border: thin solid #cccccc;
    background: #ffffff;
}

th {
    letter-spacing: 2.5px;
    background: #eeeeee;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    border-top: thick solid #eeeeee;
    border-bottom: thin solid #cccccc;
}

tr.head {
    letter-spacing: 1.5px;
    background: #dddddd;
    color: #000000;
    text-transform: uppercase;
    border-top: thick solid #eeeeee;
    border-bottom: thin solid #cccccc;
}

tr.body {
    background: #ffffff;
    color: #000000;
}

td {
    border: thin solid #cccccc;
    padding: 10px;
}